<div class="container">
    <div class="row">
        <div class="col">
            <p>Ejercicio #1</p>
            <p>Valor de cambio, en 5 dias diferenes, de Euros a dolares</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <mat-label>Escoge una fecha </mat-label>
                <input #ref matInput [placeholder]="date | date" [matDatepicker]="picker"
                    (dateChange)="handleDOBChange( ref.value)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="date" #picker></mat-datepicker>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Para la fecha {{date|date}} es de {{currencyValue}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary mx-2" (click)="storeCurrentyConversion()">Guardar en
                BD</button>
            <button type="button" class="btn btn-success mx-2" (click)="getAllValues()">Mostrar valores de BD</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table my-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Día</th>
                        <th scope="col">Valor de cambio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of valuesOfChange">
                        <th scope="row">1</th>
                        <td>{{value.date | date}}</td>
                        <td>{{value.value}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>