.footer_container--backgound {
  padding: 5px 0 5px 0;
  background-color: #35a7ff;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footer_ul--style {
  margin: 0px;
}

.bold {
  font-weight: bold;
}
